<div id="social">
  <div id="fb" class="left"><%= render :partial => 'shared/fb' %></div>
  <div id="twitter" class="left"><%= render :partial => 'shared/twitter' %></div>
  <div id="gplus" class="left"><%= render :partial => 'shared/gplus' %></div>
</div>  
