<% content_for :sidebar do %>
  <%= hook :homepage_sidebar_navigation do %>
    <%= render "shared/taxonomies" %>
  <% end %>
<% end %>

<h1>Bitspudlo.com</h1>

<p>Welcome to our store. Have a nice shopping!</p>

    <div id="bx-main">
      <ul id="slider1">
         <li class="bx-list">
            <div id="bx-image">
              <img class='bx-image' src="assets/store/slajd001.png"> 
            </div>
            <div id="bx-bottom">
              <p id='bx-category'>Tanks & Guns Platforms</p>
              <a class='bx-launch' href="http://bitspudlo.com/t/category/216-bitsbox-dot-eu/235-tanks-and-gun-platforms"></a>
            <div>
         </li>
         <li class="bx-list"> 
            <div id="bx-image">
              <img class='bx-image' src="assets/store/slajd002.png"> 
            </div>
            <div id="bx-bottom">
              <p id='bx-category'>Cyber Wolves</p>
              <a class='bx-launch' href="http://bitspudlo.com/t/category/216-bitsbox-dot-eu/236-cyber-wolves"></a>
            <div>
         </li>
         <li class="bx-list">
            <div id="bx-image">
              <img class='bx-image' src="assets/store/slajd003.png"> 
            </div>
            <div id="bx-bottom">
              <p id='bx-category'>Demons & Monsters</p>
              <a class='bx-launch' href="http://bitspudlo.com/t/category/216-bitsbox-dot-eu/238-daemons-and-monsters"></a>
            <div>
         </li>
         <li class="bx-list">
            <div id="bx-image">
              <img class='bx-image' src="assets/store/slajd004.png"> 
            </div>
            <div id="bx-bottom">
              <p id='bx-category'>Infantry Weapons & Accesories</p>
              <a class='bx-launch' href="http://bitspudlo.com/t/category/216-bitsbox-dot-eu/237-infantry-weapons-and-accessories"></a>
            <div>
         </li>
      </ul>
      <div id="controls-left"><a href id="bx-prev">prev</a></div>
      <div id="controls-right"><a href id='bx-next'>next</a></div>
    </div>
          
