<% content_for :sidebar do %>
  <%= hook :homepage_sidebar_navigation do %>
    <%= render "shared/taxonomies" %>
  <% end %>
<% end %>

<h1>Bitspudlo.com</h1>

<p>Welcome to our store. Have a nice shopping!</p>

<p>(nice landing page coming soon)</p>
