#main-image img { cursor: pointer }

ul.thumbnails-hidden { display: none }

/* overrides of blue theme */

body {
  margin-top: 10px;
  background: none;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.77, rgb(255,255,255)),
    color-stop(0.8, rgb(204,51,51)),
    color-stop(0.99, rgb(112,1,1))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgb(255,255,255) 77%,
      rgb(204,51,51) 80%,
      rgb(112,1,1) 99%
  );
  min-height: 400px;
}

#wrapper {
  background: none;
}

body.one-col {
  background-repeat: no-repeat;
}

body.two-col #wrapper {
  background: none;
  background-color: #ffffff;
  border: 1px solid #aaa;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

body.one-col #wrapper { 
  background-color: #ffffff;
  border: 1px solid #aaa;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#header a { color: #9ac7ff; }
#header a:hover { color: #eeeeee; }

ul#articles-bar {
  clear: both;
  float: right;
  list-style: none;
}

ul#articles-bar li {
  float: left;
  margin-left: 1em;
  color: #ffffff;
}

.product-listing li .availability {
  display: block;
  position: absolute;
  top: 110px;
  width: 140px;
  text-align: center;
  text-decoration: underline;
}