<div id="article">
<h2>About BitsPudlo</h2>
<h3 style="text-align:center">What? How? Why?</h3>

<p>Bitspudlo started as a project of two enthusiasts of wargames in their all aspects, especially their hobby side. We are painting, converting and sometimes sculpting.</p>

<p>Who are 'we'?</p>
<ul>
<li>Tomasz 'Tomash' Stachewicz and</li>
<li>Krzysztof 'Zły' Białek</li>
</ul>
<p>There is a moment in life of almost every wargaming enthusiast when the desire arises to have a personalised army. Sometimes it's just that he wants to have a model that is simply out of stock or was never realeased. Then, we start to look for parts to make are wickest dreams come true. We look for them in our friend bitsboxes, on the forums or in many other places. And that’s when we come in.</p>
<p>We both knew famous Battlewagon-Bits.com and BitzBox.co.uk. We were jelaous and wanted to have a store like these here, in Poland. And because the best way to have your 'itch scratched' is 'scratching' it yourself, we've finally decided to start such store.</p>
<p>After some (short) time it became more than just a bits store - we started selling all the stuff we missed in miniature e-stores. You can be assured that all the stuff that we sell was tested by us and can be considered recommended. That's why, for example, we have Vallejo mediums and water effects - because they're great and we love 'em - but don't have their "regular" paints - because we use different brands of paints.<p>
<p>At the beginning, our shop was designed to satisfy needs of our fellow gamers in Poland. After six months of runnig our store and getting a very positive feedback from wargaming community, we decided that we want to broaden our services and present our offer to all the needing people outside our borders. Battlewagon-Bits closed recently and we want to fill that gap.</p>
<br>
<h3 style="text-align:center">What you can find here?</h3>
<p>As our name suggest, we focus on bits, bits and once again bits for both WH40k and WFB. Additionally, we have a constantly growing offer of stuff for hobbyists. Paints, mediums, chains, neodymium magnets, steel plates for magnetic movement trays, bases and many many more... And don't forget minis and accessories from many companies: Hasslefree Miniatures, Wyrd Miniatures and our friends (really, we meet each other in person frequently!) Maxmini, Kromlech and Micro Art Studio.</p>
<p>At spring of 2010 we've started our own range of products (Bitsbox.eu brand) which is rapidly expanding.</p>
<h3 style="text-align:center">Formal stuff</h3>
  
  <p>Bitspudlo.com is being run by company</p>
  <p class="rowed">
    Bitsbox s.c. Krzysztof Białek Tomasz Stachewicz <br />
    ul. Zamiejska 10 <br />
    02-580 Warszawa <br />
    NIP: 5242719915 <br />
    REGON: 142605807 <br />
  </p>
  
  <p>Bank account number: <b>65 1140 2004 0000 3102 7093 1008</b> (mBank)</p>
  
  <p>Contact data can be found at <%= link_to("contact page", '/contact') %> </p>
</div>
