<div id="article">
<h2>About BitsPudlo</h2>
<h3 style="text-align:center">What? How? Why?</h3>

<p>Bitspudlo started as a project of two enthusiasts of wargames in their all aspects, especially their hobby side. We are painting, converting and sometimes sculpting.</p>


<h3 style="text-align:center">What you can find here?</h3>
<p>As our name suggest, we focus on bits, bits and once again bits for both WH40k and WFB. Additionally, we have a constantly growing offer of stuff for hobbyists. Paints, mediums, chains, neodymium magnets, steel plates for magnetic movement trays, bases and many many more... And don't forget minis and accessories from many companies: Hasslefree Miniatures, Wyrd Miniatures and our friends (really, we meet each other in person frequently!) Maxmini, Kromlech and Micro Art Studio.</p>
<p>At spring of 2010 we've started our own range of products (Bitsbox.eu brand) which is rapidly expanding.</p>
<h3 style="text-align:center">Formal stuff</h3>
  
  <p>Bitspudlo.com is being run by company</p>
  <p class="rowed">
    Bitspudlo.com s.c. <br />
    ul. Waryńskiego 4/6 <br />
    24-100 Puławy <br />
    NIP: 7162813719 <br />
    REGON: 061496172 <br />
  </p>
  
  <!--<p>Bank account number: <b>...</b> (mBank)</p>-->
  
  <p>Contact data can be found at <%= link_to("contact page", '/contact') %> </p>
</div>
