<div id="article">
<h2>Some information that can be useful</h2>
<h3 style="text-align:center">Placing an order</h3> 
<p>The flow is pretty straightforward: add items to cart, proceed to checkout, fill address data, choose shipment method, pay (or choose wire transfer), have the order confirmed and completed, ready-to-ship.</p>
<p>Shipping &amp; handling costs are calculated on a per-order basis, depending on the weight of order and destination country.<p/>
<p>You can pay using wire transfer or using PayPal.<p/>
<h3 style="text-align:center">Shipping</h3>
<p>We pack orders in bubblewrap envelopes to ensure nothing will get damaged on its way. We ship orders twice week. Most orders should reach you in 4 working days after the day we sent it (Europe) or 10 working days (rest of the world), but sometimes it takes up to 28 days. This is the time after which we can file a complaint at the post office.</p>
<p>Until we increase our production capabilities (hopefully soon!), orders containing our own (Bitsbox.eu) products might take 1-2 weeks before shipping.</p>
</div>
