<div id="article">
<h2>Contact</h2>
<h3 style="text-align:center">Main store address: <a href="mailto:bitspudlo@bitspudlo.com">bitspudlo@bitspudlo.com</a> </h3>

<p>Please send all the emails now to the adress above - we check it even more frequently than our private mailboxes!</p>
</div>
