<div style="background: #ffffff; padding: 20px;">

<h2>Regulamin sklepu Bitspudlo.com</h2>

<p>Niniejszy Regulamin określa zasady zawierania umów sprzedaży za pośrednictwem sklepu internetowego  oraz określa zasady wykonywania tych umów, prawa i obowiązki sklepu Bitspudlo.com i klienta oraz zasady postępowania reklamacyjnego.

<p>Sklep internetowy Bitspudlo.com dostępny pod adresem http://www.bitspudlo.com, prowadzony jest przez firmę Bitspudlo.com s.c. , z siedzibą w Puławach przy ul. Waryńskiego 4/6, 24-100 Puławy. Numer NIP: 7162813719, REGON: 061496172 (dalej: Bitspudlo.com lub Sprzedawca).


<h3>PRZEDMIOT DZIAŁALNOŚCI SKLEPU</h3>
<p>1. Sklep Bitspudlo.com prowadzi sprzedaż towarów z zakresu akcesoriów modelarskich, modeli do samodzienego zlożenia oraz akcesoriów do gier planszowych i bitewnych, poprzez sklep internetowy pod adresem http://www.bitspudlo.com . 
Witryna www.bitspudlo.com umożliwia składanie zamówień na towar wyszczególniony na stronie www.bitspudlo.com .

<h3>KUPUJĄCY</h3>
<p>2. Kupującym może być osoba fizyczna, osoba prawna albo jednostka organizacyjna nie posiadająca osobowości prawnej, której ustawa przyznaje zdolność prawną (dalej: Kupujący lub Klient).

<h3>PRODUKTY</h3>
<p>3. Wszystkie towary oferowane w sklepie Bitspudlo.com są fabrycznie nowe, wolne od wad fizycznych oraz prawnych. Wszystkie towary zostały wprowadzone do obrotu na rynek Polski legalnie. W wyjątkowych przypadkach, gdy jest to wyraźnie oznaczone w nazwie i opisie produktu, w dziale "Junkyard" mogą być oferowane towary używane bądź niepełnowartosciowe.

<h3>CENY</h3>
<p>4. Wszystkie ceny podane na stronach internetowych Bitspudlo.com są podawane w polskich złotych (PLN) lub dolarach amerykańskich (USD), są cenami brutto (tj. zawierają wszelkie składniki jak cła i podatki, w tym podatek VAT) oraz uwzględniają rabat przy płatności gotówką lub przelewem. Ceną wiążącą dla stron jest cena po której klient zamówił towar w zamówieniu. Podane ceny towarów nie zawierają kosztu dostawy, który zależy od sposobu jej realizacji.

<h3>PODATKOWA DOKUMENTACJA ZAKUPÓW</h3>
<p>5.1. Na wszystkie zamówione towary w sklepie internetowym Bitspudlo.com wystawiane są paragony fiskalne lub faktury VAT. Stosownie do treści przepisów ustawy z dnia 11 marca 2004r. o podatku od towarów i usług (tekst jednolity: Dz. U. 2011 r. Nr 177 poz. 1054)   oraz rozporządzenia Ministra Finansów z dnia 28 marca 2011 r. w sprawie zwrotu podatku niektórym podatnikom, wystawiania faktur, sposobu ich przechowywania oraz listy towarów i usług, do których nie mają zastosowania zwolnienia od podatku od towarów i usług (Dz.U. Nr 68 poz. 360), podpis klienta - jako nabywcy towaru- nie jest obowiązkowym elementem treści faktury VAT. W tej sytuacji nabywca otrzymuje wyłącznie podpisany przez Sprzedawcę oryginał faktury. Należy przy tym mieć na uwadze, że w przypadku, gdy kupujący będący osobą fizyczną składa zamówienie lub dokonuje zakupu przy użyciu danych (np. z podaniem nazwy/firmy) dotyczących działalności gospodarczej prowadzonej przez tego kupującego, domniemywać się będzie, iż zakup jest przez niego dokonywany w związku z taką działalnością i faktura wystawiona będzie na tego kupującego jako przedsiębiorcę.
<p>5.2. Zgodnie z rozporządzeniem Ministra Finansów z dnia 20 grudnia 2012 r. w sprawie przesyłania faktur w formie elektronicznej, zasad ich przechowywania oraz trybu udostępniania organowi podatkowemu lub organowi kontroli skarbowej (Dz. U. 2012 poz. 1528 ), Kupujący akceptuje wystawianie i przesyłanie faktur w formie elektronicznej na adres e-mail podany w trakcie rejestracji nowego użytkownika na stronie www.bitspudlo.com/signup. Za moment otrzymania faktury przez Kupującego uznaje się moment otwarcia korespondencji elektronicznej z załączoną fakturą (weryfikowany poprzez elektroniczne potwierdzenie odbioru).

<h3>ZAMÓWIENIA</h3>
<p>6. Zamówienie w sklepie internetowym Bitspudlo.com można złożyć w następujący sposób: za pomocą systemu informatycznego (strony internetowej) sklepu internetowego lub bezpośrednio wysyłając email na adres: bitpudlo@bitspudlo.com - w tym przypadku przed dokonaniem płatności należy poczekać na email zwrotny od pracownika działu obługi klientów firmy Bitspudlo.com .

Sprzedawca przyjmuje zamówienie do realizacji po sprawdzeniu dostępności zamawianego produktu w magazynie.
Zamówienia realizowane są według kolejności złożenia danego zamówienia. O czasie realizacji decyduje m.in. numer zamówienia w związku z czym zachęcamy do składania zamówień przez system sklepu internetowego, co gwarantuje natychmiastowe nadanie numeru zamówienia.

<p>7. Potwierdzenie przyjęcia zamówienia do realizacji następuje w ciągu max. 8 godzin roboczych (za godziny robocze rozumie się godziny pomiędzy 8:00-16:00 w dni od poniedziałku do piątku, z wyłączeniem dni ustawowo wolnych od pracy) od chwili złożenia zamówienia przez Kupującego . W tym czasie zostanie wysłany do Kupującego e-mail z informacją o terminie wysyłki towaru.
<p>8. W szczególnych przypadkach sprzedawca zastrzega sobie prawo nieprzyjęcia zamówienia do realizacji.
 
<h3>MOMENT ZAWARCIA UMOWY SPRZEDAŻY</h3>
<p>9. W przypadku potwierdzenia  przez Sprzedawcę przyjęcia zamówienia Klienta do realizacji w procesie zamówienia, zgodnie z regulacjami wskazanymi w pkt 6 i 7 Regulaminu dochodzi do zawarcia umowy sprzedaży na odległość pomiędzy Bitspudlo.com, a Klientem.

<h3>WARUNKI TECHNICZNE. ZAKAZ DOSTARCZANIA TREŚCI O CHARAKTERZE BEZPRAWNYM</h3>
<p>10. Zgodnie z obowiązkiem wynikającym z przepisów ustawy z dnia 18 lipca 2002r. o świadczeniu usług drogą elektroniczną (Dz.U. z 2002r. Nr 144 poz.1204 z późn.zm.) informujemy, że aby móc korzystać z zakupów w naszym sklepie komputer Klienta i oprogramowanie tego komputera powinny spełniać następujące wymagania: Komputer PC z systemem operacyjnym, umożliwiającym uruchomienie przeglądarki internetowej w zalecanej rozdzielczości ekranu: 1024 x 768 pikseli lub wyższej. Ponadto, zgodnie z owymi przepisami informujemy, że umieszczanie przez Klienta na stronach internetowych naszego sklepu jakichkolwiek informacji o charakterze bezprawnym lub informacji naruszających dobre obyczaje, jest zakazane. Kupujący może wyrazić zgodę na włączenie obsługi plików Cookies. 

<h3>CZAS REALIZACJI ZAMÓWIENIA</h3>
<p>11. Czas realizacji zamówienia jest ustalany przez handlowca w chwili przyjęcia zamówienia do realizacji. Standardowo nie przekracza on 3 dni roboczych (dla zamówień złożonych do godziny 16:00 danego dnia.) W razie braku możliwości realizacji zamówienia w zakreślonym terminie Sprzedający poinformuje o tym fakcie Klienta proponując nowy termin realizacji. Do Klienta należy wybór m.in. akceptacja nowego terminu lub odstąpienie od umowy.


<h3>SPOSÓB REALIZACJI ZAMÓWIENIA (DOSTARCZENIA TOWARU)</h3>
<p>12. Zamówione towary dostarczane są za pośrednictwem Poczty Polskiej chyba, że drogą mailową zostanie uzgodniony inny sposób realizacji zamówienia – Wszelkie koszty dostarczenia towaru do Klienta pokrywa Klient.

<h3>PŁATNOŚCI</h3>
<p>13. Płatności za towar można dokonać w sposób wybrany w momencie składania zamówienia.
Wybierając formę płatności PayPal, oraz realizację wysyłkową (Poczta Polska), realizacja zamówienia może obejmować tylko i wyłącznie adresy wysyłkowe (Klienta/Kupującego), które zostały zdefiniowane w profilu użytkownika, konta PayPal.
<h3>ODSTĄPIENIE OD UMOWY PRZEZ KLIENTA</h3>
<p>14. Klient dokonujący zakupu jako konsument (tj. jako osoba fizyczna, która nabywa towar w celu niezwiązanym z działalnością gospodarczą), który zawarł umowę na odległość za pośrednictwem sklepu Bitspudlo.com, niezależnie od formy dostawy lub odbioru towaru, może od tej umowy odstąpić bez podania przyczyn, składając stosowne oświadczenie na piśmie w terminie 14 (słownie: czternastu) dni od dnia wydania mu towaru stanowiącego przedmiot tej umowy. Do zachowania tego terminu wystarczy wysłanie do Sprzedawcy, przed upływem tego terminu, odpowiedniego oświadczenia klienta.
<p>15. W razie skutecznego odstąpienia od umowy umowa jest uważana za niezawartą, a konsument jest zwolniony z wszelkich zobowiązań. Zwrot towaru powinien nastąpić niezwłocznie, wraz z wysłaniem oświadczenia o odstąpieniu albo oddzielnie - nie później jednak niż w terminie 14 dni od dnia wysłania oświadczenia o odstąpieniu od umowy. Zwracany towar powinien znajdować się w stanie niezmienionym, chyba że zmiana była konieczna w granicach zwykłego zarządu. Konsument powinien zwrócić towar w takim składzie ilościowym i jakościowym, z zastrzeżeniem zdania poprzedniego, jaki otrzymał. W szczególności powinien dołączyć wszelkie otrzymane wraz z towarem części, akcesoria, instrukcje, warunki użytkowania, itp. dokumenty (nie dotyczy dowodu zakupu). Zwracany towar należy bezpiecznie zapakować i dostarczyć do firmy Bitspudlo.com na adres siedziby firmy. 

<p>16. Zwrot uiszczonej przez klienta ceny towaru wraz z kosztami wysyłki zostanie dokonany nie zwłocznie, nie póżniej niż w terminie 14 dni od dnia otrzymania oświadczenia o odstąpieniu od umowy.
<p>17. Prawo odstąpienia od umowy zawartej na odległość nie przysługuje konsumentowi w wypadkach:
a) dotyczących nagrań audialnych i wizualnych oraz zapisanych na nośnikach programów komputerowych po usunięciu przez konsumenta ich oryginalnego opakowania,
b) świadczeń o właściwościach określonych przez konsumenta w złożonym przez niego zamówieniu lub ściśle związanych z jego osobą,
c) świadczeń, które z uwagi na ich charakter nie mogą zostać zwrócone lub których przedmiot ulega szybkiemu zepsuciu.

<h3>ODPOWIEDZIALNOŚĆ ZA WADY TOWARU I ZA JEGO ZGODNOŚĆ Z UMOWĄ I PROCEDURY REKLAMACYJNE</h3>
<p>18. Towary oferowane w sklepie internetowym Bitspudlo.com są objęte gwarancją producenta, dystrybutora lub sklepu Bitspudlo.com. 
<p>19. Niezależnie od gwarancji producenta lub dystrybutora, w przypadku, gdy zakup dokonywany jest przez Klienta będącego konsumentem, wówczas zgodność sprzedanego towaru z umową objęta jest dodatkowo odpowiedzialnością sprzedawcy na zasadach uregulowanych w przepisach ustawy z dnia 27 lipca 2002r. o szczególnych warunkach sprzedaży konsumenckiej oraz o zmianie Kodeksu cywilnego (Dz.U. z 2002r. Nr 141 poz.1176 z późn. zm.).

<p>20. Przed odebraniem przesyłki z poczty lub od kuriera(listonosza) należy sprawdzić, czy opakowanie nie uległo uszkodzeniu w transporcie. W przypadku, gdy opakowanie przesyłki nosi znamiona uszkodzenia , należy nie przyjmować przesyłki i w obecności kuriera(listonosza) dokonać jej otwarcia i ewentualnie sporządzić protokół szkody oraz skontaktować się jak najszybciej ze sprzedawcą w celu wyjaśnienia sprawy. 
<p>21. W przypadku sprzedaży towarów konsumpcyjnych (tj. sprzedaży dokonywanej na rzecz klienta będącego osobą fizyczną, która nabywa towar w celu niezwiązanym z działalnością gospodarczą):<br />
a) sprzedawca odpowiada wobec kupującego, jeżeli towar konsumpcyjny w chwili jego wydania jest niezgodny z umową,<br />
b) sprzedawca odpowiada za niezgodność towaru konsumpcyjnego z umową jedynie w przypadku jej stwierdzenia przed upływem dwóch lat od wydania tego towaru kupującemu; termin ten biegnie na nowo w razie wymiany towaru,<br />
c) kupujący traci uprawnienia (do żądania naprawy lub wymiany towaru na nowy albo do żądania obniżenia ceny towaru lub do odstąpienia od umowy), jeżeli przed upływem dwóch miesięcy od stwierdzenia niezgodności towaru konsumpcyjnego z umową nie zawiadomi o tym sprzedawcy,<br>
d) sprzedawca nie odpowiada za niezgodność towaru konsumpcyjnego z umową, gdy kupujący o tej niezgodności wiedział lub, oceniając rozsądnie, powinien był wiedzieć.<br>

<p>22. W przypadku niezgodności towaru z umową, reklamowany towar wraz z  pismem określającym niezgodności oraz oczekiwania dotyczące sposobu realizacji reklamacji, należy odesłać za pomocą firmy kurierskiej lub Poczty Polskiej, na adres sklepu Bitspudlo.com 
<p>23. W terminie 14 dni od dnia otrzymania przez sprzedawcę reklamacji kupującego dotyczącej niezgodności towaru z umową, Sprzedawca powinien rozstrzygnąć reklamację i udzielić Kupującemu konkretnej odpowiedzi w przedmiocie uwzględnienia lub nieuwzględnienia jego reklamacji. W przypadku uznania przez sprzedawcę reklamacji zostanie Kupującemu wskazany proponowany przez sprzedawcę sposób i tryb postępowania przy jej realizacji (np. sposób zwrotu przez kupującego towaru, sposób odbioru nowego itp.) - w takim przypadku Sprzedawca ponosi również koszty transportu reklamowanego towaru . W przypadku odmowy uznania reklamacji kupującemu zostanie przedstawione uzasadnienie tej odmowy.
<p>24. Gwarancja lub rękojmia nie obowiązują gdy towar został uszkodzony mechanicznie z przyczyn, za które Sprzedawca nie ponosi odpowiedzialności, w szczególności wskutek nieprawidłowego używania.
<p>25. W przypadku gdy stroną kupującą nie jest Konsument, strony wyłączają odpowiedzialność sprzedawcy z tytułu rękojmi za wady fizyczne towaru (art. 558 § 1 Kodeksu Cywilnego)


<h3>OCHRONA DANYCH OSOBOWYCH</h3>
<p>26. Podanie przez Klienta danych osobowych jest dobrowolne, jednakże niepodanie tych danych powodować będzie niemożność dokonania przez Klienta zakupów. Dokonując zakupu bądź rejestracji Klient wyraża zgodę na gromadzenie, przetwarzanie i wykorzystywanie przez sprzedawcę danych osobowych Klienta w celu i w zakresie potrzebnym dla wykonania przez sprzedawcę zamówienia (tj. dla dostarczenia klientowi przesyłki i dokonania rozliczeń).
<p>27. Dane będą przetwarzane z zachowaniem wszelkich wymogów bezpieczeństwa, które określono w ustawie z dnia 29 sierpnia 1997r. o ochronie danych osobowych (Dz.U. z 2002r., Nr 101 poz.926 z późn. zm.) oraz w wydanych na jej podstawie przepisach wykonawczych. Klient ma prawo swobodnego dostępu (wglądu) do swoich danych osobowych, prawo ich poprawiania, a także prawo żądania zaprzestania ich przetwarzania i ich usunięcia z bazy danych, co należy zgłosić do administratora danych, w formie pisemnej. Administratorem danych osobowych Klientów jest Bitspudlo.com Spółka Cywilna.
<p>28. Klient ponosi odpowiedzialność za podanie nieprawdziwych danych osobowych.

 
<h3>OPISY PRODUKTÓW</h3>
<p>29. Opisy produktów i ich zdjęcia pochodzą z bazy danych stanowiącej własność Bitspudlo.com s.c. Zakazuje się jakiegokolwiek komercyjnego wykorzystywania informacji produktowych pochodzących z tej bazy danych chyba, że uzyska się pisemną zgodę od właścicieli firmy Bitspudlo.com

<h3>OBOWIĄZUJĄCE PRAWO</h3>
<p>30. Informacje znajdujące się na stronach internetowych sklepu www.bitspudlo.com nie stanowią oferty w rozumieniu Kodeksu Cywilnego, są jedynie zaproszeniem do zawarcia umowy (zgodnie z art. 71 k.c.).
<p>31. W sprawach nie uregulowanych niniejszym regulaminem stosuje się przepisy obowiązującego prawa, w tym przepisu Kodeksu Cywilnego.

</div>
